# Ignore Python bytecode
__pycache__/*
*.pyc

# Ignore C++ includes that are local/generated
cadmium_project/main/include/*.hpp

# Ignore the main.cpp file if it’s generated
cadmium_project/main/main.cpp
